# npm镜像源配置
# 淘宝镜像（推荐，国内速度快）
registry=https://registry.npmmirror.com

# 或使用官方镜像
# registry=https://registry.npmjs.org

# 部分包的镜像源
electron_mirror=https://npmmirror.com/mirrors/electron/
puppeteer_download_host=https://npmmirror.com/mirrors
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver

